@import url('https://fonts.googleapis.com/css?family=Sansita');


* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:  #cdc1b4;
  font-size: 16px;
  font-family: 'Sansita', sans-serif;
  overflow: hidden;
}

input[type="button"]:hover {
  cursor: pointer;
}

.content {
  width:  80%;
  margin: 50px auto 0px;
}

.site-title {
  text-align: center;
  margin: 10px 0px;
}

.device {
  border: 4px solid #888;
  width:  auto;
  max-width: 400px;
  margin: 0 auto;
}

.controls {
  padding: 10px;
  margin-top: 25px;
  background-color:  #4e5d6c;
  
  margin: 0 auto;
}

.countdisplay {
  width: 40px;
  height: 30px;
  line-height: 30px;
  border: 3px solid #666;
  background-color:#32050c;
  text-align: center;
  margin: 10px auto;
  color: #fff;
}

.buttons {
  width: 120px;
  margin: 10px auto;
  color: #fff;
}

.startbutton {
  background: #ac0b24;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 40px;
  border: 1px solid #333;
  border-radius: 50%;
  outline: none;
}


.started {
  -moz-box-shadow: 0px 0px 15px #ac0b24;
 -webkit-box-shadow: 0px 0px 15px #ac0b24;
 box-shadow: 0px 0px 15px #ac0b24;
 background: green;
}

.power {
  text-align: center;
  color:  #fff;
}

.simongame {
  padding: 10px;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}


.info {
  color: #f3f3f3;
  text-align: center;
  font-size: 22px;
}

.block {
  max-width: 180px;
  height: 110px;
  border-radius: 15px;
  opacity: 0.6;
}

.block:hover {
  cursor: pointer;
}

.upper-part {
  margin-bottom: 10px;
}

.green-block {
  background-color: #00a74a;
}

.red-block {
  background-color: #9f0f17;
}

.yellow-block {
  background-color: #cca707;
}

.blue-block {
  background-color: #094a8f;
}

.clear {
  clear: both;
}


.slideThree {
  width: 80px;
  height: 26px;
  background: #333;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'OFF';
  color: #000;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'ON';
  color: #27ae60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 34px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}

@media (max-width: 840px) and (max-device-width: 840px) {
  .content {
    margin: 0;
    width: auto;
  }
  .device {
    width:  auto;
    border:  none;
  }
}